git+https://github.com/ubccr/coldfront@7dc4391c0cb54ec85ff82a0199ff0461454d5fb0#egg=coldfront
git+https://github.com/nerc-project/coldfront-plugin-keycloak@d5f02df7bef5b4ab787d3ebb21cd11f3c133138f#egg=coldfront_plugin_keycloak_usersearch
python-cinderclient  # TODO: Set version for OpenStack Clients
python-keystoneclient
python-memcached==1.59
python-novaclient
python-neutronclient
