git+https://github.com/ubccr/coldfront@2e60db247fd9a9b0d1299f1e98f1e4ef5f5c259b#egg=coldfront
freezegun
python-cinderclient  # TODO: Set version for OpenStack Clients
python-keystoneclient
python-memcached==1.59
python-novaclient
python-neutronclient
python-swiftclient
