coverage
git+https://github.com/ubccr/coldfront@v1.1.7#egg=coldfront
freezegun
python-cinderclient  # TODO: Set version for OpenStack Clients
python-keystoneclient
python-novaclient
python-neutronclient
python-swiftclient
