name: test-unit

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v5

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Install ColdFront and plugin
        run: |
          ./ci/setup.sh

      - name: Run unit tests
        run: |
          ./ci/run_unit_tests.sh
